# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Environment variables
.env
.env.*

# PyTorch / model artifacts
*.pth
!best_model\ \(1\).pth
!best_rnn_weights.pth
*.pt
*.onnx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
